* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px red solid;
}

main {
  width: 100%;
  height: 720px;
  padding-top: 132px;
  padding-bottom: 112px;
  padding-left: calc((100vw - 980px) / 2);
  padding-right: calc((100vw - 980px) / 2);
  display: flex;
  flex-direction: row;
  
  background-color: #f0f2f5;
}

#left-main-container {
  width: 548px;
  padding-right: 32px;
  padding-top: 84px;
  padding-left: 40px;
}

#main-logo {
  color: #1877f2;
  font-size: 50px;
  font-weight: 800;
}

#main-slogan {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}

#right-main-container {
  width: 436px;
  min-width: 436px;
  padding-right: 40px;
}

#forms-container {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#forms-upper-child {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
  justify-content: flex-start;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  padding: 5px 10px;
  border: 1px solid #dddfe2;
  background-color: #FFFFFF;
  color: #1d2129;
  border-radius: 6px;
  font-size: 17px;
  line-height: 16px;
}

#login-button {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  margin-top: 16px;
  background-color: #1877f2;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#forgot-button {
  padding-top: 17px;
  padding-bottom: 21px;
  background-color: #fff;
  color:blue;
}

#forms-lower-child {
  margin: 0 16px;
  border-top: 1px solid #f0f2f5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-button {
  width: 220px;
  height: 48px;
  border-radius: 6px;
  padding: 0 16px;
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  font-weight: 600;
}


footer {
  padding-top: 30px;
  padding-left: calc((100vw - 980px) / 2);
  padding-right: calc((100vw - 980px) / 2);
}

#language-options-container {
  color:grey;
  padding-bottom: 2px;
}

#other-options-container {
  border-top: 1px solid grey;
}

a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: grey;
  background: #fff;
  color: #1c1e21;
  line-height: 1.34;
  unicode-bidi: embed;
}